// Define variables for your color scheme

// For example:
$dark-red: #C70000;
$medium-red: #E8002A;
$wine-red: #BD2640;
$light-red: #EB3232;
$medium-pink: #FF6E6E;
$pink: #F0B7C1;
$light-pink: #FFDFE4;
$medium-gray: #8e8e8e;
$light-gray: #C4C4C4;
$dark-gray: #626264;
$light-blue-gray: #EFE0FF;
$light-gray: #F7F7F7;
$light-blue: #CEECFE;
$dark-blue: #1F1F39;
$purple: #440687;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$light-text-gray: #989DA4;
