// Define variables for your color scheme

// For example:
$dark-red: #C70000;
$medium-red: #E8002A;
$wine-red: #BD2640;
$light-red: #EB3232;
$medium-pink: #FF6E6E;
$pink: #F0B7C1;
$medium-gray: #CEBCE2;
$light-gray: #F7F7F7;
$light-blue: #CEECFE;
$dark-blue: #1F1F39;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
