<div class="footer">

  

        <div class="d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-hands-asl-interpreting"></i>
            <p>Comumnity</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p>Search</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <i class="fa-regular fa-circle-play"></i>
            <p>Learn</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center ">
            <i class="fa-regular fa-user"></i>
            <p>Help</p>
        </div>

  
</div>