<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to challenges_path, class: "navbar-brand" do %>
      <%= image_tag "ruby-gem.png" %>
    <% end %>
 <%= link_to "#", class: "navbar-brand-type" do %>
      <%= image_tag "rubylingo-type.png" %>
    <% end %>
  </div>
</div>
