.btn-level-challenge {
width: 344.44px;
height: 52.709px;
flex-shrink: 0;
fill: $dark-red;
color: whitesmoke;
}

.btn-create-continue {
  width: 344.44px;
  height: 52.709px;
  flex-shrink: 0;
  color: whitesmoke;
}

.btn-rewards {
width: 236px;
height: 50px;
flex-shrink: 0;
color: whitesmoke;
}
