.challenge-list{
    width: 100%;
    height: 110px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px 20px;
    background-color: $light-gray;
}

.challenge-list.active{
    background-color: $light-pink;
    border: 2px solid $medium-pink;
}

.challenge-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    cursor: pointer;
}

.challenge-card.disable{
    opacity: .3;
}

.challenge-i{
    width: 68px;
    height: 68px;
    border: 1px solid black;
    background-color: $light-gray;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challenge-i i{
    font-size: 50px;
    color: $medium-red;
}

.challenge-i .locked-i{
    font-size: 50px;
    color: $medium-gray;
}

.challenge-card.active .challenge-i{
    background-color: $light-gray;
}

.challenge-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.challenge-title P{
    margin: 0px;
    margin-top: 8px;
}

.challenge-title a{
    color: $gray;
    font-weight: bold;
    text-decoration: none;
}

.challenge-title .locked{
    color: $medium-gray;
    font-weight: bold;
}
