.navbar-lewagon {
  justify-content: space-between;
  background: $dark-red;
  height: 81px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon .navbar-brand-type img {
  width: 110px;
  margin-left: 105px;
}
