// QUESTION  challenge TITLE

.question-challenge-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-challenge-title h1{
    font-weight: bold;
}

.question-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-help a{
  text-decoration: none;
  color: $medium-gray;
}

.question-help i{
    font-size: 25px;
    color: #E6C0FF;
}

.question-help p{
    font-size: 15px;
    color: #E6C0FF;
}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pink;
    border-radius: 7px 7px;
    padding: 16px;
}

.gem-i i{
    font-size: 35px;
    margin-right: 16px;
}

.question-h4{
    flex-grow: 1;
}

.question-h4 h4{
    font-size: 17px;
    color: $white;
    margin-bottom: 0px;
}

.answers span{
    display: flex;
    margin-bottom: 20px;
}

.answers span label{
    font-size: 15px;
    padding-left: 10px;
}

.btn-next{
    width: 100%;
    border-radius: 10px 10px;
    background-color: $light-red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next input[type="submit"]{
    color: $white;
}
