.score-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-title .done{
    color: black;
    font-size: 25px;
    margin: 0px;
}

.score-title i{
    font-size: 100px;
    color: $wine-red;
    margin-bottom: 20px;
}

.score-title .practice{
    color: black;
    font-size: 25px;
}

.score a{
    text-decoration: none;
    width: 100%;
    font-weight:500;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: whitesmoke;
    background-color: $wine-red;
    text-decoration: none;
}

.sad{
    display: block;
    height: calc(100vh - 290px);
    background-image: url("sad.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 310px;
}

.sad .total-score{
    font-weight: bold;
    font-size: 25px;
}

.happy{
    display: block;
    height: calc(100vh - 262px);
    background-image: url("well-done-girl.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 300px;
}

.happy .total-score{
    font-weight: bold;
    font-size: 25px;
}

.score-title .check{
    font-size: 100px;
    color: $green;
    margin-bottom: 20px;
}

.block-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
